.titre-description {
    width: 100%;
    height: 52px;
    background-color: #ff6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    border-radius: 5px;
}
.titre-description h4 {
    font-size: 18px;
    color: white;
    margin-left: 20px;
}
.titre-description img {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}
