
.baniere-a-propos {
    width: 90%;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 25px;
}

.Apropos .dropdown{
    width: 90%;
    margin-top: 30px;
    margin-left: 260px;
}
.Apropos .titre-dropdown {
    width: 80%;
}
.Apropos .dropdown p {
    height: auto;
    padding: 10px 30px 10px 30px;
    width: 80%;
    font-size: 18px;
    color: var(--rouge);
    background-color: var(--grisclair);
}