
.baniere-a-propos {
    width: 90%;
    margin-left: 100px;
    margin-top: 40px;
    border-radius: 25px;
}
.detail-a-propos {
    width: 90%;
    margin-left: 170px;
}

.detail-bandeau-rouge {
    background-color : #f6f6f6;
    width: 90%;
    height: 150px;
    margin-top: -10px;
    padding-top: 20px;
    border-radius: 0 0 5px 5px;
}
.detail-bandeau-rouge p {
    color: #ff6060;
    width: 90%;
    height: 68px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    font-size: 20px;

    
}

