
.titre-nom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
    margin-left: 100px;
}
.titre{
    width: 70%;
}
.titre h2{
    color: #ff6060;
    font-size: 36px;
    margin-top: 5px;
}
.titre p {
    color: #ff6060;
    font-size: 18px;
    margin-top: 10px;
}

.nom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}
.nom h3 {
    text-align: right;
    width: 120px;
    height: 52px;
    margin-top: 10px;
    font-size: 18px ;
    color: #ff6060;
}
.nom img {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.tag-eval {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 100px;
    width: 90%;
}

.evaluation {
    display: flex;
    justify-content: space-between;
    width: 12%;
}
.evaluation img {
    width: 30px;
    height: 30px;
}
.descript-equip {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    margin-left: 100px;
}
.description, .equipements {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.description p {
    height: 200px;
    color: #ff6060;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    background-color: #f6f6f6;
}
.equipements ul {
    height: 200px;
    list-style-type: none;
    color: #ff6060;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    background-color: #f6f6f6;

}




