.message-erreur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 659px;
    margin-left: 100px;
}
.message-erreur h5 {
    font-size: 288px;
}
.message-erreur span {
    font-size: 36px;
    margin-top: 20px;
}
.message {
    font-size: 18px;
    margin-top: 100px;
}
.message-erreur h5, .message-erreur span,.message {
    color: var(--rouge);
}