.message-erreur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 670px;
    margin-left: 100px;
}
.message-erreur h5 {
    font-size: 288px;
    color: var(--rouge);
}
.message-erreur span {
    font-size: 36px;
    color: var(--rouge);
    margin-top: 20px;
}
.message {
    font-size: 18px;
    color: var(--rouge);
    margin-top: 100px;
}