header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 68px;
    margin-top: 40px;
    margin-left: 100px;
    border: red solid;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 34px;
    border: blue solid;
}
a{
    color: red;
    font-size: 24px
    ;
}