.photo  {
    margin-top: 40px;
    width: 90%;
    height: 415px;
    margin-left: 100px;
    border-radius: 25px;
}

.precedent, .suivant {
    margin-top: 9%;    
    position: absolute;
    width: 46px;
    height: 79 px;
}
.precedent {
    margin-left: 25px;
}
.suivant {
margin-left: 86%;
}
